.actions {
  display: inline-block;
  width: 50%;
  text-align: right;

  &:hover {
    svg.icon {
      fill: lighten($action-color, 20%);
    }
  }

  a {
    color: $action-color;
    border: none;
    padding: 7px;
    @include transition(color 250ms linear);
    svg.icon {
      fill: $action-color;
      @include transition(fill 250ms linear);
    }
    .label {
      display: inline-block;
      white-space: nowrap;
      max-width: 0;
      vertical-align: middle;
      overflow: hidden;
      margin-top: -8px;
      opacity: 0;
      @include transition(margin-right 250ms linear, max-width 250ms linear, opacity 250ms linear);
    }
    &:hover {
      a {
        color: $action-color !important;
      }
      svg.icon {
        fill: $action-color;
      }
      .label {
        opacity: 1;
        margin-right: 4px;
        margin-left: 4px;
        max-width: 100px;
        display: inline-block;
      }
    }
  }
}