.collection-list-item {
  .ghost {
    background: blue;
  }
}
.collections .type {
  display: none;
}
.collection {
  width: 100%;
  height: 60px;
  background: $text-input-color;
  margin: 20px;

  &:hover {
    background: green;
  }
}