.section-header {
  height: 50px;
  margin-bottom: 10px;
  position: relative;

  h5 {
    display: inline-block;
    margin-top: 12px;
  }
  > div {
    top: 0;
    position: absolute;
    right: 0;
  }

  button {
    margin-right: 14px;
  }
}

.page-actions {

}

.show-code-container {
  button {
    margin-right: 22px;
  }
}

.create-type-container, .show-code-container {
  position: relative;

  &.visible:before {
    z-index: 2;
    pointer-events: auto;
    opacity: 1;
    @include transition(opacity 300ms);
  }
  &:before {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -3;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    content: '';
    opacity: 0;
    pointer-events: none;
    @include transition(opacity 500ms);
  }

  button {
    @include transition-timing-function(cubic-bezier(0.7, 0, 0.3, 1));
    @include transition(opacity 100ms 500ms, color 200ms);

    &.hidden {
      opacity: 0;
      pointer-events: none;
      @include transition(opacity 100ms);
    }
  }

}

.popup {
  position: fixed;
  z-index: 3;
  pointer-events: none;
  background: $base-button-color;
  color: $dark-text-color;
  border-radius: $base-border-radius;
  overflow: scroll;
  opacity: 0;
  box-shadow: $type-box-shadow;
  @include transition-timing-function(cubic-bezier(0.7, 0, 0.3, 1));
  @include transition(opacity 300ms 500ms, width 400ms 200ms, height 400ms 200ms, top 400ms 200ms, left 400ms 200ms);

  &.visible {
    opacity: 1;
    z-index: 3;
    pointer-events: auto;
    @include transition-timing-function(cubic-bezier(0.7, 0, 0.3, 1));
    @include transition(width 400ms 200ms, height 400ms 200ms, top 400ms 200ms, left 400ms 200ms);

    // Need to override a JS-set style attrib, so use !important
    top: 10% !important;
    left: 20% !important;
    width: 60% !important;
    height: 80% !important;

    > div {
      visibility: visible;
      opacity: 1;
      @include transition(opacity 300ms 500ms);
    }
  }

  > div {
    visibility: hidden;
    opacity: 0;
    color: $dark-text-color;
    padding: 15px;
    @include transition(opacity 100ms, visibility 0s 100ms);

    a {
      font-size: 24px;
      color: $action-color;
      border-bottom: 0;
      svg {
        fill: $action-color;
      }

    }
    a.action {
      float: right;
      @include clearfix;
      font-size: 16px;
      border: none;
      padding: 6px;
      svg.icon {
        fill: $action-color;
      }
      .label {
        display: inline-block;
        white-space: nowrap;
        max-width: 0;
        vertical-align: middle;
        overflow: hidden;
        margin-top: -8px;
        opacity: 0;
        @include transition(margin-right 250ms linear, max-width 250ms linear, opacity 250ms linear);
      }
      &:hover .label {
        opacity: 1;
        margin-right: 8px;
        max-width: 100px;
        display: inline-block;
      }
    }
  }

  .vocabularies-search-container {
    float: left;
    width: 30%;
  }
  .vocabularies-list {
    clear: both;

    .vocabulary-option {
      width: 45%;
      margin-right: 4%;
      height: 90px;
      overflow: hidden;
      display: inline-block;
    }
  }
}
