.select-menu {
  display: inline;
  cursor: pointer;
  position: relative;
  margin-left: 4px;

  .label > span {
    margin-right: 5px;
  }
  ul {
    position: absolute;
    left: -9px;
    top: -9px;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    background: white;
    min-width: 200px;
    z-index: 1;
    box-shadow: $type-box-shadow;
    @include transition(all 250ms ease-in-out);

    li {
      color: white;
      border-bottom: 1px solid $light-gray;
      font-weight: 500;
      @include transition(all 250ms linear);

      a {
        display: block;
        padding: 10px;
        color: #555;
        border-bottom: none;
      }
    }
  }
  &.open ul {
    max-height: 200px;
    overflow: auto;
    opacity: 1;
    li {
      a {
        color: $dark-text-color;
        border-bottom: none;
      }
      &:hover {
        background: $very-light-gray;
      }
    }
  }
}