$color-primary-0: #0C3780;  /* Main Primary color */
$color-primary-1: #4E6284;
$color-primary-2: #244B8D;
$color-primary-3: #052E72;
$color-primary-4: #02245E;

$color-secondary-1-0: #C14300;  /* Main Secondary color (1) */
$color-secondary-1-1: #C78D6E;
$color-secondary-1-2: #D56326;
$color-secondary-1-3: #AC3C00;
$color-secondary-1-4: #8D3100;

$color-secondary-2-0: #007F59;  /* Main Secondary color (2) */
$color-secondary-2-1: #488372;
$color-secondary-2-2: #198C6A;
$color-secondary-2-3: #00714F;
$color-secondary-2-4: #005D41;

$color-complement-0: #C17C00; /* Main Complement color */
$color-complement-1: #C7A76E;
$color-complement-2: #D59626;
$color-complement-3: #AC6E00;
$color-complement-4: #8D5B00;
