// High level layout styles

body {
  margin: 0;
  @include linear-gradient(#2C869E, #2C6EA0);
}

a {
  cursor: pointer;
  border-bottom: 1px solid $base-link-underline-color;
}

.container {
  @include outer-container;
}

.slide-left {
  @include transition($slide-transition);
  @include transform(translateX(-($sidebar-width/2)));
}